In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats
import statsmodels as sm
import statsmodels.formula.api as smf
import math

In [12]:
df = pd.read_csv("wage1.csv")
df

,wage,educ,exper,tenure,nonwhite,female,married,numdep,smsa,northcen,...,trcommpu,trade,services,profserv,profocc,clerocc,servocc,lwage,expersq,tenursq
0,3.10,11,2,0,0,1,0,2,1,0,...,0,0,0,0,0,0,0,1.131402,4,0
1,3.24,12,22,2,0,1,1,3,1,0,...,0,0,1,0,0,0,1,1.175573,484,4
2,3.00,11,2,0,0,0,0,2,0,0,...,0,1,0,0,0,0,0,1.098612,4,0
3,6.00,8,44,28,0,0,1,0,1,0,...,0,0,0,0,0,1,0,1.791759,1936,784
4,5.30,12,7,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1.667707,49,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,15.00,16,14,2,0,1,1,2,0,0,...,0,0,0,1,1,0,0,2.708050,196,4
522,2.27,10,2,0,0,1,0,3,0,0,...,0,1,0,0,1,0,0,0.819780,4,0
523,4.67,15,13,18,0,0,1,3,0,0,...,0,0,0,0,1,0,0,1.541159,169,324
524,11.56,16,5,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2.447551,25,1
525,3.50,14,5,4,1,1,0,2,0,0,...,0,0,0,1,0,1,0,1.252763,25,16

In [13]:
df['log_wage'] = df['wage'].apply(lambda x: math.log(x))

In [14]:
df

,wage,educ,exper,tenure,nonwhite,female,married,numdep,smsa,northcen,...,trade,services,profserv,profocc,clerocc,servocc,lwage,expersq,tenursq,log_wage
0,3.10,11,2,0,0,1,0,2,1,0,...,0,0,0,0,0,0,1.131402,4,0,1.131402
1,3.24,12,22,2,0,1,1,3,1,0,...,0,1,0,0,0,1,1.175573,484,4,1.175573
2,3.00,11,2,0,0,0,0,2,0,0,...,1,0,0,0,0,0,1.098612,4,0,1.098612
3,6.00,8,44,28,0,0,1,0,1,0,...,0,0,0,0,1,0,1.791759,1936,784,1.791759
4,5.30,12,7,2,0,0,1,1,0,0,...,0,0,0,0,0,0,1.667707,49,4,1.667707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,15.00,16,14,2,0,1,1,2,0,0,...,0,0,1,1,0,0,2.708050,196,4,2.708050
522,2.27,10,2,0,0,1,0,3,0,0,...,1,0,0,1,0,0,0.819780,4,0,0.819780
523,4.67,15,13,18,0,0,1,3,0,0,...,0,0,0,1,0,0,1.541159,169,324,1.541159
524,11.56,16,5,1,0,0,1,0,0,0,...,0,0,0,0,0,0,2.447551,25,1,2.447551
525,3.50,14,5,4,1,1,0,2,0,0,...,0,0,1,0,1,0,1.252763,25,16,1.252763

In [20]:
results = smf.ols('log_wage ~ educ', data=df).fit()

In [23]:
results2 = smf.ols('np.log(wage) ~ educ', data=df).fit()

In [24]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               log_wage   R-squared:                       0.186
Model:                            OLS   Adj. R-squared:                  0.184
Method:                 Least Squares   F-statistic:                     119.6
Date:                Thu, 17 Oct 2024   Prob (F-statistic):           3.27e-25
Time:                        14:20:50   Log-Likelihood:                -359.38
No. Observations:                 526   AIC:                             722.8
Df Residuals:                     524   BIC:                             731.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.5838      0.097      5.998      0.000       0.393       0.775
educ           0.0827      0.008     10.935      0.000       0.068       0.098
==============================================================================
Omnibus:                       11.804   Durbin-Watson:                   1.801
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               13.811
Skew:                           0.268   Prob(JB):                      0.00100
Kurtosis:                       3.586   Cond. No.                         60.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [25]:
print(results2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           np.log(wage)   R-squared:                       0.186
Model:                            OLS   Adj. R-squared:                  0.184
Method:                 Least Squares   F-statistic:                     119.6
Date:                Thu, 17 Oct 2024   Prob (F-statistic):           3.27e-25
Time:                        14:20:54   Log-Likelihood:                -359.38
No. Observations:                 526   AIC:                             722.8
Df Residuals:                     524   BIC:                             731.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.5838      0.097      5.998      0.000       0.393       0.775
educ           0.0827      0.008     10.935      0.000       0.068       0.098
==============================================================================
Omnibus:                       11.804   Durbin-Watson:                   1.801
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               13.811
Skew:                           0.268   Prob(JB):                      0.00100
Kurtosis:                       3.586   Cond. No.                         60.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [54]:
results3 = smf.ols('np.log(wage) ~ educ + exper', data=df).fit()

In [55]:
print(results3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           np.log(wage)   R-squared:                       0.249
Model:                            OLS   Adj. R-squared:                  0.246
Method:                 Least Squares   F-statistic:                     86.86
Date:                Thu, 17 Oct 2024   Prob (F-statistic):           2.68e-33
Time:                        14:43:37   Log-Likelihood:                -338.01
No. Observations:                 526   AIC:                             682.0
Df Residuals:                     523   BIC:                             694.8
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.2169      0.109      1.997      0.046       0.004       0.430
educ           0.0979      0.008     12.848      0.000       0.083       0.113
exper          0.0103      0.002      6.653      0.000       0.007       0.013
==============================================================================
Omnibus:                        7.740   Durbin-Watson:                   1.789
Prob(Omnibus):                  0.021   Jarque-Bera (JB):                9.485
Skew:                           0.165   Prob(JB):                      0.00872
Kurtosis:                       3.569   Cond. No.                         130.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [56]:
# To check if beta1 = beta2 or compare which is larger
hypothesis="exper=educ"
results3.t_test(hypothesis)

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0            -0.0876      0.007    -11.984      0.000      -0.102      -0.073
==============================================================================

In [59]:
df['squared_exper'] = np.square(df['exper'])

In [57]:
results4 = smf.ols('np.log(wage) ~ educ + exper + exper^2', data=df).fit() # this does not work make a new variable

In [62]:
results4 = smf.ols('np.log(wage) ~ educ + exper + squared_exper', data=df).fit()

In [64]:
results4 = smf.ols('np.log(wage) ~ educ + exper + np.square(exper)', data=df).fit()

In [65]:
print(results4.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           np.log(wage)   R-squared:                       0.300
Model:                            OLS   Adj. R-squared:                  0.296
Method:                 Least Squares   F-statistic:                     74.67
Date:                Thu, 17 Oct 2024   Prob (F-statistic):           3.38e-40
Time:                        14:46:31   Log-Likelihood:                -319.53
No. Observations:                 526   AIC:                             647.1
Df Residuals:                     522   BIC:                             664.1
Df Model:                           3
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            0.1280      0.106      1.208      0.227      -0.080       0.336
educ                 0.0904      0.007     12.100      0.000       0.076       0.105
exper                0.0410      0.005      7.892      0.000       0.031       0.051
np.square(exper)    -0.0007      0.000     -6.164      0.000      -0.001      -0.000
==============================================================================
Omnibus:                        5.379   Durbin-Watson:                   1.785
Prob(Omnibus):                  0.068   Jarque-Bera (JB):                7.152
Skew:                           0.028   Prob(JB):                       0.0280
Kurtosis:                       3.568   Cond. No.                     4.24e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.24e+03. This might indicate that there are
strong multicollinearity or other numerical problems.